.icon {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 40px;
  aspect-ratio: 1/1;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover{
  animation: shake .2s;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(8deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}